# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
.Python
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environments
venv/
env/
doc/
*.env
.env/

# Logs
*.log
logs/

# Project-specific
emul/
safe/
test/

# Other
.gitignore
server.bat
server.py
tablo.py
decode_packet.py
errors_server.py
script.py
main_old.py